<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css" rel="stylesheet">
<span>
	<md-card>
		<H2>FAQ</H2>
		<H4 class="question">How do I use this site? </H4>
		<p class="answer">Anyone can enter in your data.  The more data you enter the more competitive.</p>
		<br>
		<H4 class="question">When do I get paid? </H4>
		<p class="answer">October 11th</p>
	</md-card>
</span>
<button md-fab md-fab-bottom-right (click)="add()"><md-icon>add circle</md-icon></button>