<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css" rel="stylesheet">
<span>
	<md-card>
		<H2>Rules & Regulations</H2>
		<ul>
			<li>Buy-in is $125
			</li>
			<li>There are 25 participants and the pot is at $3125
			</li>
			<li>Highest % change in their % bodyfat is calcualted: ((entry % bodyfat)-(final % bodyfat)) / (entry % bodyfat)
			</li>
			<li>The five participants with the highest % change in their % bodyfat will place and receive a payout based on their rank. 
			</li>
			
			<li>The five rank payouts are follows. 
				<ul>
					<li>1st Place: 65% of Pot = $2,031.25
					</li>
					<li>2nd Place: 15% of Pot = $468.25
					</li>
					<li>3rd Place: 10% of Pot = $312.50
					</li>
					<li>4th Place: 05% of Pot = $156.25
					</li>
					<li>5th Place: 05% of Pot = $156.25
					</li>
				</ul>
			</li>
			<li>Weigh in is already done. Nothing to add here.
			</li>
			<li>Weigh out is between September 26th and October 10th.
			</li>			
			<li>You can weigh in as many times as you'd like within that time but the last weigh in is your official.</li>			
			<li>Official weign ins (Entry and Final) must be done on same tool with another Chub Club member present if that's the value you'd like to make official. Then it gets entered into the website.
			</li>
		</ul>
	</md-card>
</span>

<button md-fab md-fab-bottom-right (click)="add()"><md-icon>add circle</md-icon></button>